.list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .handleWrapper, .handle {
    flex: 0.5;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  
  .NRWrapper, .gateNR {
    flex: 1;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  
  .titleWrapper, .title {
    flex: 3.4;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  
  .progWrapper, .progress {
    flex: 10;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  
  .PFWrapper, .plannedDate {
    flex: 1;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  
  .DTGEWrapper, .daysToEnd {
    flex: 1.7;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  
  .dateWrapper, .completion {
    flex: 1.4;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  
  .deleteWrapper, .delete {
    flex: 0.5;
    text-align: center;
    padding: 10px; /* Add padding */
  }
  